
auth.json
/vendor/
node_modules/

storage/*.key

# Cache
.phpunit.result.cache
/.phpunit.cache

# .env
.env
.env.backup
.env.production

# Logs
npm-debug.log
yarn-error.log

# Editors
/.fleet
/.idea
/.vscode
