
auth.json
/vendor/
node_modules/

storage/*.key

# Cache
.phpunit.result.cache

# .env
.env
.env.backup
.env.production

# Logs
npm-debug.log
yarn-error.log

# Editors
/.fleet
/.idea
/.vscode

# IDE helper files
.phpstorm.meta.php
_ide_helper.php
